<%= form_for @anuncio do |f| %>

  <% if @anuncio.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@anuncio.errors.count, "error") %>
        prohibited this article from being saved:
      </h2>
      <ul>
        <% @anuncio.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :nombre_mascota %><br>
    <%= f.text_field :nombre_mascota %>
  </p>

  <p>
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </p>

  <p>
    <%= f.label :nombre_cuidador %><br>
    <%= f.text_field :nombre_cuidador %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
