<h1>Listado de Anuncios</h1>

<%= link_to 'Nuevo Anuncio', new_anuncio_path %>

<table>
  <tr>
    <th>Nombre Mascota</th>
    <th>Descripcion</th>
    <th>Nombre Cuidador</th>
    <th colspan="3"></th>
  </tr>

  <% @anuncios.each do |anuncio| %>
    <tr>
      <td><%= anuncio.nombre_mascota %></td>
      <td><%= anuncio.descripcion %></td>
      <td><%= anuncio.nombre_cuidador %></td>
      <td><%= link_to 'Ver', anuncio_path(anuncio) %></td>
      <td><%= link_to 'Editar', edit_anuncio_path(anuncio) %></td>
      <td><%= link_to 'Eliminar', anuncio_path(anuncio),
              method: :delete,
              data: { confirm: 'Estas seguro?' } %></td>
    </tr>
  <% end %>
</table>
