<p>
  <strong>Nombre Mascota:</strong>
  <%= @anuncio.nombre_mascota %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @anuncio.descripcion %>
</p>

<p>
  <strong>Nombre Cuidador:</strong>
  <%= @anuncio.nombre_cuidador %>
</p>

<%= link_to 'Editar', edit_anuncio_path(@anuncio) %>
<%= link_to 'Volver', anuncios_path %>
